*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s;
}

section
{
  position: relative;
  background: #0c1022;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before
{
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#ffc107, #e91e63);
  border-radius: 50%;
  transform: translate(-250px, -120px);
}

section::after
{
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(#2196f3, #31ff38);
  border-radius: 50%;
  transform: translate(250px, 120px);
}

.box
{
  position: relative;
  min-width: 400px;
  min-height: 600px;
  background: rgba(255,255,255,0.1);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-radius: 10px;
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(25px);
}

h2
{
  color: #fff;
  z-index: 11;
}

.box .reactions
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box .reactions .item
{
  background: var(--clr);
  width: 150px;
  height: 150px;
  padding: 15px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.box .reactions .item:hover
{
  transform: translateY(-5px);
  box-shadow: 0 0 10px var(--clr),
  0 0 30px var(--clr),
  0 0 60px var(--clr),
  0 0 100px var(--clr);
}

.box .reactions .item:active
{
  transform: translateY(5px);
  box-shadow: 0 0 10px var(--clr),
  0 0 30px var(--clr),
  0 0 60px var(--clr),
  0 0 100px var(--clr);
}
